/********************************************************
 * File Name: App.module.css
 * Date: 1/2/2025
 * Description: CSS file for main website display
 * Dependencies: 
 * Author(s): Ivan Wong
 ********************************************************/


@import "./variables.css";


.App {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
